<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.guestbook.dao.UserDao">
    <select id="login" resultType="user">
        select nickname, user_account, password
        from guest_book_user
        where user_account = #{name}
    </select>

    <insert id="regedit">
        insert into guest_book_user(nickname, user_account, password)
        values (#{nickname}, #{name}, #{password})
    </insert>

    <insert id="saveMessage">
        insert into guest_book_message(nickname, users, message, update_date)
        values (#{nickname}, #{name}, #{message}, NOW())
    </insert>

    <select id="toMessageAll" resultType="message">
        select nickname, users, message, update_date
        from guest_book_message;
    </select>
</mapper>